## Packages

In [8]:
# To access data
import numpy as np
import pandas as pd
import glob
import os

# ARIMA
from sktime.forecasting.arima import ARIMA
import statsmodels.api as sm

## Importing the data

In [9]:
# Get local path:
path = os.getcwd()[:os.getcwd().find("Autoregressive")]+"/train_data/"

# Listing files:
files = os.listdir(path)

# Times series must be chronologically sorted
files.sort()

# Put these in a single dataframe
li = []
for i in range(0, len(files) -1, 1):
    df = pd.read_csv(path+files[i], index_col = None, header = 0)
    li.append(df)
bixi_frame = pd.concat(li, axis = 0, ignore_index = True)

## Display data

In [10]:
display(bixi_frame)

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2014-04-15 00:01,6209,2014-04-15 00:18,6436,1061,1
1,2014-04-15 00:01,6214,2014-04-15 00:11,6248,615,1
2,2014-04-15 00:01,6164,2014-04-15 00:18,6216,1031,1
3,2014-04-15 00:01,6214,2014-04-15 00:24,6082,1382,1
4,2014-04-15 00:02,6149,2014-04-15 00:08,6265,347,1
...,...,...,...,...,...,...
20598132,2018-11-15 23:55,6154,2018-11-16 00:11,6211,924,1
20598133,2018-11-15 23:56,6184,2018-11-16 00:00,6164,258,1
20598134,2018-11-15 23:56,6734,2018-11-15 23:59,6324,197,1
20598135,2018-11-15 23:57,6255,2018-11-16 00:00,6270,207,1
20598136,2018-11-15 23:57,6248,2018-11-16 00:07,6017,565,1

In [11]:
df = sm.datasets.macrodata.load_pandas()['data']
display(df)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [ ]:
df = sm.datasets.macrodata.load_pandas()['data']

df['q_date'] = df.apply(lambda x: str(int(x['year'])) + '-Q' 
                                  + str(int(x['quarter'])), axis=1)
df['date'] = pd.PeriodIndex(df['q_date'], freq='Q').to_timestamp()
df = df.set_index('date').to_period("Q")

#creating lagged values for forecasting with exogenous variables
df.loc[:, 'realinv_lagged'] = df.loc[:, 'realinv'].shift()
df[['realinv_lagged']] = df[['realinv_lagged']].fillna(method='backfill')

source: https://towardsdatascience.com/why-start-using-sktime-for-forecasting-8d6881c0a518